.mce-tinymce {
    margin-top: 50px!important;
}

.has-error .mce-tinymce {
    margin-top: 20px!important;
}

.has-error .help-block {
    color: red!important;
}

table .badge {
    position: relative!important;
    right: auto!important;
}

.pagination li {
    width: 30px;
    height: 30px;
    position: relative;
}

.pagination li span {
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navigation-row .btn {
    margin: 2.1rem 0 1.68rem 0;
}

.card-view dt {
    font-weight: bold;
}

.card-view dd {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-bottom: 1px solid #DDD;
}

.homepage .card i {
    font-size: 50px;
}
