.mce-tinymce {
    margin-top: 50px!important;
}

.has-error .mce-tinymce {
    margin-top: 20px!important;
}

.has-error .help-block {
    color: red!important;
}

table .badge {
    position: relative!important;
    right: auto!important;
}

.pagination li {
    width: 30px;
    height: 30px;
    position: relative;
}

.pagination li span {
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navigation-row .btn {
    margin: 2.1rem 0 1.68rem 0;
}

.card-view dt {
    font-weight: bold;
}

.card-view dd {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-bottom: 1px solid #DDD;
}

.homepage .card i {
    font-size: 50px;
}

.homepage .card .card-action:first-of-type {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.badge {
    padding: 10px 25px!important;
}

.error-message {
    color: red;
}

.color-preview {
    padding: 5px 15px;
    margin-right: 10px;
}

.logo-image-small {
    height: 30px;
}

.news-image-small {
    height: 30px;
}

.paralax-image-small {
    height: 30px;
}

span.badge {
    display: inline-block;
}

.ajax-loader {
    font-size: 35px;
}

.photo-preview {
    margin-bottom: 15px;
}

nav .badge {
    min-width: 10px!important;
    padding: 12px 10px!important;
}

#dropdown-messages {
    min-width: 300px;
}

.message-preview span i,
.message-preview div i {
    line-height: 1;
    height: auto;
    margin-right: 5px;
}
.message-preview span,
.message-preview div {
    line-height: 1.23;
}

.message-preview:not(:first-of-type) a {
    border-top: 1px solid #DDD;
}

.message-preview a {
    padding: 10px!important;
}

.message-preview a div:not(:last-of-type) {
    margin-bottom: 5px;
}

.message-preview-date {
    font-weight: bold;
}

.message-preview-all {
    border-top: 1px solid #DDD;
}