vendor/
node_modules/
bower_components/
public/bower_components
public/node_modules/
public/dashboard/bower_components
public/dashboard/node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

/.idea
Homestead.json
Homestead.yaml
